.mainSliderCustomHeight{
      height: 80vh !important;
}

.carousel-caption{
    bottom: 17.5vh;
}

.main-slider-img-logo{
    height: 65px;
    width: auto;
    margin-bottom: 40px;
}

.main-slider-title{
    font-size: 375%;
}

.main-slider-sub-title{
      font-size: 187.5%;
}

.main-slider-btn{
    margin-top: 40px;
}

/* Separetor */
.customSeparetor100{
    height: 100px;
}

/* Segunda Pantalla Redes Sociales */
.bi-youtube,
.bi-twitter-x,
.bi-instagram,
.bi-facebook
{
      font-size: 50px;
}

.card-title{
    font-weight: 700 !important;
    color: black;
}

.card-text{
    font-size: 12px;
}

/* Tercer Pantalla Contactos */
.Contact-Card-Label{
       font-size: 10px;
}

.contact-card-title{
    font-size: 1.875rem;
}

.contact-card-text{
    font-size: 14px;
}

/* Quinta Pantalla */

.carousel-caption{
    bottom:20vh;
}

.Service-Carousel-Title{
    font-size: 375%;
}

.Service-Carousel-SubTitle{
      font-size: 187.5%;
}

.main-carousel-btn{
    margin-top: 40px;
}

/* SEXTA PANTALLA FORMULARIO  */ 
.main-submit-btn{
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-size: 15px;
    background-size: 200%;
    border-radius: 10px;
    display: block;
    width: 100%;
    border: hidden;
}


/* SEPTIMA PANTALLA FOOTER */
.Footer-text{
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1em;
}

